<nav class="navbar navbar-expand-sm bg-primary navbar-dark">
  <ul class="navbar-nav">
    <li class="nav-item">
      <a routerLink="patient" routerLinkActive="active" class="nav-link">Find Patient</a>
    </li>
    <li class="nav-item">
      <a routerLink="create-patient" class="nav-link">Add Patient</a>
    </li>
    <li class="nav-item">
      <a routerLink="doctor-list" class="nav-link">Show Doctors</a>
    </li>
    <li class="nav-item">
      <a routerLink="add-doctor" class="nav-link">Add Doctor</a>
    </li>
    <li class="nav-item">
      <a routerLink="all-patients" class="nav-link">All Patients</a>
    </li>
  </ul>
</nav>
<h1 class="text-center">Doctor Patient</h1>
<div class="container">
  <router-outlet></router-outlet>
</div>